div {

    outline: 1px solid #000;
    border: 1px;
    border-radius: 1px;
  border-right-width: 1px;
}
body
{
  background-image:url("late.jpg");
  height: 120%;
  background-repeat: no-repeat;
  background-size: cover;
}
#result_a
{
  background-color: red;
  color: white;
}
#result_b
{
  background-color: red;
  color: white;
}
#result_c
{
  background-color: red;
  color: white;
}
#result_d
{
  background-color: red;
  color: white;
}
#result_e
{
  background-color: red;
  color: white;
}